@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

.heading {
  text-align: center;
  
  background-color: #ed2445;
  color: white;
  font-family: 'Petit Formal Script';
  
  font-size: 24px;
  padding: 12px;
}

.full-width {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;  
}

/*** MEDIA QUERIES ***/

/* LANDSCAPE ORIENTATION */

@media screen and (orientation : landscape) {
  .heading { 
    font-size: 20px; 
    padding: 10px;
  }
}

@media screen and (min-width: 598px) and (orientation : landscape) {
  .heading { 
    font-size: 24px; 
    padding: 12px;
  }
}

@media screen and (min-width: 900px) and (orientation : landscape) {
  .heading { 
    font-size: 28px; 
    padding: 14px;
  }
}

@media screen and (min-width: 1280px) and (orientation : landscape) {
  .heading { 
    font-size: 36px; 
    padding: 18px;
  }
}

/* PORTRAIT ORIENTATION */

@media screen and (min-height: 640px) and (orientation : portrait) {
  .heading { 
    font-size: 30px; 
    padding: 15px;
  }
}

@media screen and (min-height: 900px) and (orientation : portrait) {
  .heading { 
    font-size: 40px;
    padding: 20px; }
}

@media screen and (min-height: 1280px) and (orientation : portrait) {
  .heading { 
    font-size: 48px;
    padding: 24px; }
}