.inputform {
	padding-right: 5px;
}

.inputform label {
   width: 100%;
}

.inputform__input {
   outline: none;
   border: none;
   border-bottom: 2px solid #ed2445;

   font-size: 12px;  
   width: 90px;   
   transition: width 0.4s ease-in-out;
}

.inputform__input:focus {
   width: 100%;
   border-bottom: 3px solid #ed2445;
}

@media screen and (min-height: 640px) {
  .inputform__input { 
  	font-size: 14px;
  	width: 100px }
}

@media screen and (min-height: 900px) {
  .inputform__input { 
  	font-size: 16px;
  	width: 110px }
}