
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outer-container {
  background-color: lightblue;
  background-image: url("./images/minimalistbackground.jpg");

  height: 100vh;
}

.container {
  background-color: white;
  padding-top: 10%;

  width: 80% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;

  border-left: solid 0.1px;
  border-right: solid 0.1px;
  border-color: #dedede;

  height: 100%;
}
.container-body {
  width: 90% !important;
  margin: 5% !important;

  height: calc(80% - 40px); /* -10% margin, -10% padding-top, -40px heading padding*/
}

.input-bar-wrapper {
  height: 35%;

  padding-left: 5px;
  padding-right: 10px;

  font-size: 14px;
  font-weight: bold;
}

.font-result-wrapper {
  height: 65%;
  border-style: ridge double;
  border-width: 8px 6px;
  border-color: #f75348 #ed2445;
}


@media screen and (min-height: 568px) {
  .input-bar-wrapper { height: 30% }
  .font-result-wrapper { height: 70% }
}

@media screen and (min-height: 640px) {
  .container-body {
    margin-top: 10% !important;
  }

  .input-bar-wrapper {
    font-size: 16px;
  }
}

@media screen and (min-height: 900px) {
  /* start of tablet styles*/
    .container { padding-top: 15% }
  .input-bar-wrapper { 
    font-size: 18px;
    height: 25% 
  }
  .font-result-wrapper { height: 75% }
}

@media screen and (min-height: 1280px) {
  .input-bar-wrapper { height: 20% }
  .font-result-wrapper { height: 80% }

}

@media screen and (min-width: 576px) {
/* start of phone styles */
  
}

@media screen and (min-width: 768px) {
/* start of medium tablet styles */
  .input-bar-wrapper { height: 15% }
  .font-result-wrapper { height: 85% }

}

@media screen and (min-width: 991px) {
/* start of large tablet styles */

}

.zero-padding {
 padding: 0px !important; 
}