
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outer-container {
  background-color: lightblue;
  background-image: url("./images/minimalistbackground.jpg");

  display: flex;
  justify-content: center;

  height: 100vh;
}

.container {
  background-color: white;
  padding-top: 10%;

  width: 80% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;

  border-left: solid 0.1px;
  border-right: solid 0.1px;
  border-color: #dedede;

  height: 100%;
}
.container-body {
  width: 90% !important;
  margin: 5% !important;

  height: calc(80% - 56px); /* -10% margin, -10% padding-top, -28px heading -28px padding*/
}

.input-bar-wrapper {
  height: 35%;

  padding-left: 5px;
  padding-right: 10px;

  margin-bottom: 2%;

  font-size: 14px;
  font-weight: bold;
}

.font-result-wrapper {
  height: 65%;
  border-style: ridge double;
  border-width: 8px 6px;
  border-color: #f75348 #ed2445;
}

.zero-padding {
 padding: 0px !important; 
}

/*** MEDIA QUERIES ***/

/* LANDSCAPE ORIENTATION */

@media screen and (orientation : landscape) {
  .container { padding-top: 5%; }
  .container-body { 
    margin: 3% !important;
    width: 94% !important;
    height: calc( 89% - 40px - 20px);
  }
  .input-bar-wrapper { 
    font-size: 11px;
    height: 40%;
  }
  .font-result-wrapper { height: 60% }
}

@media screen and (min-width: 598px) and (orientation : landscape) {
  .container-body { height: calc(89% - 48px - 20px - 10px); }
  .input-bar-wrapper { font-size: 13px; }
}

@media screen and (min-width: 900px) and (orientation : landscape) {
  .container-body { 
    margin-left: 5% !important;
    margin-right: 5% !important;
    width: 90% !important;
    height: calc(89% - 56px - 20px - 10px);
  }
  .input-bar-wrapper { font-size: 16px; }
}

@media screen and (min-width: 1280px) and (orientation : landscape) {
  .container-body { 
    height: calc(89% - 72px - 30px - 10px);
  }
  .input-bar-wrapper { font-size: 22px; }
}

/* PORTRAIT ORIENTATION */

@media screen and (min-height: 568px) and (orientation : portrait) {
  .input-bar-wrapper { height: 30% }
  .font-result-wrapper { height: 70% }
}

@media screen and (min-height: 640px) and (orientation : portrait) {
  .container-body {
    margin-top: 10% !important;
  }

  .input-bar-wrapper {
    font-size: 16px;
  }
}

@media screen and (min-height: 900px) and (orientation : portrait) {
  /* start of tablet styles*/
  .container { padding-top: 15% }
  .input-bar-wrapper { 
    font-size: 18px;
    height: 25% 
  }
  .font-result-wrapper { height: 75% }
}

@media screen and (min-height: 1280px) and (orientation : portrait) {
  .input-bar-wrapper { 
    font-size: 22px;
    height: 20% }
  .font-result-wrapper { height: 80% }


}

/* bootstrap breakpoint of medium tablet styles, inputBar and FontProperties in one line */
@media screen and (min-width: 768px) {
  .input-bar-wrapper { height: 15% }
  .font-result-wrapper { height: 85% }
}